SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/db_example?ssl=false
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password
SPRING_PROFILES_ACTIVE=dev

JWT_SECRET_PASSWORD=jwt_secret_password
JWT_EXPIRATION_TIME=1440
JWT_REFRESH_EXPIRATION_TIME=7


SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=email
SPRING_MAIL_PASSWORD=password

SERVER_PORT=7070

FRONTEND_BASE_URL=http://localhost:5173
